streamlit>=1.38
google-generativeai>=0.8.3
Pillow
python-dotenv
setuptools
streamlit>=1.32.0
streamlit-webrtc>=0.45.0
google-generativeai>=0.5.0
google-generativeai>=0.3.2
streamlit-mic-recorder>=0.0.5
Pillow>=10.0.0
python-dotenv>=1.0.0
opencv-python>=4.9.0.80
opencv-python-headless
flask
flask-cors
openai
gTTS
pydub
playsound; platform_system == "Windows"  # Windows 使用 playsound 播放音频
pygame; platform_system != "Windows"     # 非 Windows 系统使用 pygame 播放音频
